{% block nav_blog %}
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="side-nav fixed">
        <li class="bold"><a href="/" class="waves-effect waves-teal">Home</a></li>
        <li class="bold"><a href="/blog" class="waves-effect waves-teal">Blog</a></li>
        <li class="bold"><a href="/services" class="waves-effect waves-teal">Services</a></li>
        <li class="bold"><a href="/about" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="https://jeraf.tv" class="waves-effect waves-teal">Jeraf.tv</a></li>
    </ul>
    <ul class="side-nav top_list" id="mobile-demo">
        <li class="bold"><a href="/" class="waves-effect waves-teal">Home</a></li>
        <li class="bold"><a href="/blog" class="waves-effect waves-teal">Blog</a></li>
        <li class="bold"><a href="/services" class="waves-effect waves-teal">Services</a></li>
        <li class="bold"><a href="/about" class="waves-effect waves-teal">About</a></li>
        <li class="bold"><a href="https://jeraf.tv" class="waves-effect waves-teal">Jeraf.tv</a></li>
    </ul>
{% endblock %}