$blog_color: #008CBA;
$blog_font: "Courier New", Courier, monospace;
$font_family: "Courier New", Courier, monospace;

body.blog {
  background: #fff;
  font-family: $blog_font;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  transition: all 0.5s ease;
}

.blog {

  #inside {

    &.hidden {
      width: 0;
    }
  }

  #aside_nav {

    &.hidden {
      width: 0;
    }

    .clopener {
      left: 100%;
      //top: -7%;

      &.clopener_pos {
        left: 0;
      }
    }
    a {
      font-size: 1.5em;
      font-family: $font_family;
    }

  }

  #blogeg {

    .thePost {

      img {
        height: initial !important;
        width: 29% !important;
        float: left;
        padding: 0 0.5em 0.5em 0;
      }
    }
  }
}

#blogeg, #blogeg_article {
  transition: width 0.5s ease-out, left 0.6s ease-out;
  width: 84%;
  margin: 0 auto 15em 0;
  left: 15%;
  position: relative;
  //transition: all 0.5s ease;

  .center_wraper {
    width: 70%;
    margin: 0 auto;
  }
}

.heading_row {
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  position: relative;

  h1 {
    font-family: $font_family;
    color: #6f6f6f;
    font-size: 3em;
  }

  .rss_show {
    position: absolute;
    right: 1em;
    top: 1em;

    a {
      font-size: 2em;
      color: #FF6600;
    }
  }
}

.post_wra {
  width: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid #DDDDDD;

  .backtoBlog {
    cursor: pointer;
  }
}

#blogeg_article {

  .post_wra {
    margin-top: 0;
  }
}

.article_link {
  color: $blog_color;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Arial, "MS Trebuchet", sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    text-shadow: 1px 2px 2px #000;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.credit {

  p {
    color: #6f6f6f;
    font-size: 1em;
    display: block;
    margin-top: 0.4em;
  }
}

#blogeg_article {
  .credit {
    p {
      margin-top: 5px;
    }
  }
}

.comments {
  display: inline-block;
  color: $blog_color;
  margin-left: 5px;
}

.thePost {
  line-height: 1.2em;
  font-size: 1.65em;
  color: #3A4145;
  margin: 1em 0;
  position: relative;

  p {
    color: #3A4145;
    margin: 1em 0 0;
    font-size: 1em;
    line-height: inherit;
    font-family: initial;

    img {
      text-align: center;
      display: block;
      margin: 0 auto;
      height: initial !important;
      max-width: 100%;
    }

    iframe {
      margin: 0 auto 1em;
      display: block;
    }
  }

  hr {
    display: none;
  }

  a {
    color: $blog_color;

    &:hover {
      text-shadow: 1px 0 0 #000;
      text-decoration: underline;
    }
  }

  .more_link {
    text-decoration: none;
    font-size: 0.8em;
    position: absolute;
    right: 0.5em;
    bottom: -2.5em;
    &:hover {
      text-shadow: none;
    }
  }

}

#blogeg_article {
  .thePost {
    p {
      display: block;
    }
  }
}

.readMore {
  color: $blog_color;
  font-size: 1.2em;
  text-decoration: underline;
  position: relative;
}

.readMore:hover, .comments:hover {
  text-shadow: 1px 0 0 #000;
  text-decoration: underline;
}

#sharing {
  margin: 2em 0;
}

.menu_t {

  #blogeg, #blogeg_article {
    width: 90%;
    left: 0;
    margin: 0 auto 15em auto;
    transition: all 0.5s ease;
  }

}

@media screen and (max-width: 1400px) {

  #blogeg, #blogeg_article {
    width: 84%;
    margin: 0 auto 15em 0;
    left: 15%;
    position: relative;

    .center_wraper {
      width: 88%;
      margin: 0 auto;
    }

  }

  .menu_t {

    #blogeg, #blogeg_article {
      width: 96%;
      margin: 0 auto 15em auto;
    }

  }

}

@media screen and (max-width: 1200px) {

  #blogeg, #blogeg_article {

  }

}

@media screen and (max-width: 900px) {

  .blog {

    .heading_row {
      position: inherit;

      h1 {
        text-align: center;
      }

      .rss_show {
        position: fixed;
        right: 0;
        top: 0.7em;
      }
    }

    #aside_nav {
      display: block;
      position: relative;
      width: 100%;
      text-align: center;
      margin: 0 0 0;

      li {
        display: inline;
      }

      .clopener {
        display: none;

        &.clopener_pos {
          left: 0;
        }
      }
      a {
        font-size: 1.3em;
        font-family: $font_family;
      }

    }

    &.menu_t {

      #inside {
        width: 100%;
      }
    }

  }

  #blogeg, #blogeg_article {
    width: 98%;
    margin: 2% 1%;
    left: inherit;
  }

  .post_wra {
    padding: 0;
    min-height: inherit;
    box-shadow: none;
  }

}

@media screen and (max-width: 600px) {

  .blog {

    #blogeg, #blogeg_article {

      .thePost {
        margin: 1em 0 2em;

        iframe {
          width: 100% !important;
        }

        img {
          width: 100% !important;
          float: inherit;
        }

        .more_link {
          right: inherit;
          left: 0;
          bottom: -2.5em;
        }
      }

      .rss_show {
        display: none;
      }

    }

    #aside_nav {
      position: fixed;
      width: 0;
      background: #fff;
      z-index: 3;

      li {
        display: inline;
      }

      .clopener {

        display: block;
        font-size: 45px;
        background: #3071a9;
        position: fixed;
        top: 40%;
        left: -0.6em;
        border-radius: 0 2em 2em 0;
        width: 1em;
        height: 2em;

        i {
          display: none;
        }

      }
      a {
        font-size: 1.3em;
        font-family: $font_family;
      }

    }

    &.menu_t {

      .overlay {
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease;
      }

      #blogeg, #blogeg_article {
        width: 98%;
        margin: 2% 1%;
        left: inherit;
      }

      #aside_nav {
        width: 70%;

        #inside {

          ul {

            li {
              display: block;
              width: 100%;
              font-size: 2em;

              a {
                padding: 0;
              }

            }

          }

        }

        .clopener {
          left: 70%;
        }
      }
    }

  }
}

