$blog_color: #008CBA;
$blog_font: "Courier New", Courier, monospace;
$font_family: "Courier New", Courier, monospace;

body.blog {
  background: #fff;
  font-family: $blog_font;
}

.blog {

  #inside {

    &.hidden {
      width: 0;
    }
  }

  #aside_nav {

    &.hidden {
      width: 0;
    }

    .clopener {
      left: 100%;
      top: -7%;

      &.clopener_pos {
        left: 0;
      }
    }
    a {
      font-size: 1.3em;
      font-family: $font_family;
    }

  }
}

#blogeg, #blogeg_article {
  width: 60%;
//  margin: 0 0 0 9%;
  display: inline-block;
  vertical-align: top;
}

.heading_row {
  border-bottom: 1px solid #DDDDDD;
  width: 100%;

  h1 {
    font-family: $font_family;
    color: #6f6f6f;
    font-size: 3em;
  }
}

.post_wra {
  width: 100%;
  margin-top: 40;
  margin-bottom: 25px;
}

#blogeg_article {

  .post_wra {
    margin-top: 0;
  }
}

.article_link {
  color: $blog_color;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Arial, "MS Trebuchet", sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    text-shadow: 1px 2px 2px #000;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.credit {

  p {
    color: #999;
    font-size: 1em;
    display: block;
    margin-top: 0.4em;
  }
}

#blogeg_article {
  .credit {
    p {
      margin-top: 5px;
    }
  }
}

.comments {
  display: inline-block;
  color: $blog_color;
  margin-left: 5px;
}

.thePost {
  line-height: 1.2em;
  font-size: 1.65em;
  color: #3A4145;
  margin: 1em 0;
  p {
    color: #3A4145;
    margin: 1em 0;
    font-size: inherit;
    line-height: inherit;
    display: inline;
  }

  a {
    color: $blog_color;

    &:hover {
      text-shadow: 1px 0 0 #000;
      text-decoration: underline;
    }
  }
}

#blogeg_article {
  .thePost {
    p {
      display: block;
    }
  }
}

.readMore {
  color: $blog_color;
  font-size: 1.2em;
  text-decoration: underline;
  position: relative;
  //  top: -21px;
}

.readMore:hover, .comments:hover {
  text-shadow: 1px 0 0 #000;
  text-decoration: underline;
}

#sharing {
  margin: 2em 0;
}

.more_link {
  text-decoration: none;
}