<!doctype html>
<html lang="en">
<head>
    <title>shemesh.info</title>
    <meta name="description" content="{{data.meta_description}}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    {# CSS #}
    {% block css_include %}
    {% include '../parts/css_include.html' %}
    {% endblock %}

    {# JS #}
    {% block js_include %}
    {% include '../parts/js_include.html' %}
    {% endblock %}
</head>
<body class="{{css}}">
<header>
    {# NAVIGATION #}
    {% block nav %}
    {% include '../parts/nav.html' with data%}
    {% endblock %}
</header>


{# CONTENT #}
{% block content %}{% endblock %}

{# TRACKING #}
{% block track %}
{% include '../parts/tracking.html' with data%}
{% endblock %}

</body>
</html>