{% extends '../layout/layout-main.html' %}
{% block title %}IE user{% endblock %}
{% block content %}
<section id="use_browser" class="container center">


    <h1>{{data.browser_h1}}</h1>
    <article>
        <img width="500" height="375" src="http://res.cloudinary.com/flere/image/upload/v1437997901/film_imgs/user_f5rftp.jpg" alt="y u no use normal browser"/>

        <p>{{data.browser}} <a href="https://www.google.com/chrome/browser/">{{data.browser_link}}</a></p>
    </article>

</section>
{% endblock %}