{% extends '../layout/layout-main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="content_wra" class="container">
    <div id="eban">
        <img src="http://res.cloudinary.com/flere/image/upload/v1437997865/film_imgs/23_up8tzj.gif" alt="Piano man"/>
    </div>
    <div class="search_form">
            <div class="wrapper">
                <a class="waves-effect waves-light btn search_btn">Madness</a>
            </div>
    </div>
    <div class="message">
        <p>I know this is stupid, but I still like it</p>
    </div>
    <div class="fuck">
        <p>Nothing useful here</p>
    </div>
    <div class="here">
        <a href="/">Bloop</a>
        <span>,Click to refresh</span>
    </div>
</section>
{% endblock %}
