{% extends '../layout/layout-main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <section id="login" class="auth container">
        <section class="row">
            <div class="auth_form">
                <h1>Login</h1>

                <form name="login_form">
                    <div class="input-field">
                        <label for="email">Email: </label>
                        <input type="email" id="loginEmail" name="email" required class="validate">
                    </div>
                    <div class="input-field">
                        <label for="password">Password: </label>
                        <input type="password" id="loginPass" name="password" required class="validate">
                    </div>
                    <div class="input-field">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Login
                        </button>
                    </div>
                    <input name="ghhh" type="text" id="for_bots_reg" class="hide"/>
                </form>

                <div class="relog_link_wrap">
                    <a href="/registration" class="form_register">Register</a>
                    or
                    <a href="/forgot_pass" class="fp_pass">Remind password</a>
                </div>

            </div>
        </section>
    </section>


{% endblock %}
