{% extends '../layout/layout-main.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <section id="about" class="container center">
        <h1>{{ data.about_h1 }}</h1>
        <article>
            <p>Did you know I was a fireman?</p>
            <img width="960" height="638" src="https://res.cloudinary.com/flere/image/upload/film_imgs/jkiee_zprvqd.jpg"
                 alt="me"/>
        </article>
        <section class="form_send">
            <h3>Contact</h3>

            <p class="success_message">Thank you</p>
                <form name="form_send_ek" class="col s12">
                        <div class="input-field col s12">
                            <input name="email" id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field col s12">
                            <textarea name="text" id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Textarea</label>
                        </div>

                        <div class="input-field col s12">
                            <input type="text" class="hide"/>
                            <button class="btn waves-effect waves-light send_email" type="submit" name="action">Send</button>
                        </div>
                </form>

        </section>
    </section>
{% endblock %}
