{% extends 'layout/services_layout.html' %}

{% block content %}

<section id="services">
    <section class="make_post">
        <!--<div style="color: red; font-size: 25px">-->
            <!--{{post_data | json_encode}}-->
        <!--</div>-->
        <form name="edit_post" id="edit_post_id">
            <div>
                <input type="text" name="title" placeholder="Title" value="{{post_data.post_title}}" required/>
            </div>
            <div>
                <input type="text" name="post_link" placeholder="Post link(Leave blank to auto generate)" value="{{post_data.post_link}}"/>
            </div>
            <div>
                <textarea placeholder="Post Body" name="post_body" rows="30" cols="50" required>{{post_data.post_body}}</textarea>
            </div>
            <div>
                <input type="hidden" name="post_id" value="{{post_data.id}}"/>
            </div>
            <div class="post_pref">
                <label for="checkbox_publish">Publish?</label>
                <input type="checkbox" name="publish" id="checkbox_publish" value="Publish"  />
                <button>Edit post</button>
            </div>
        </form>
    </section>
</section>

{% endblock %}