{% extends 'layout/services_layout.html' %}

{% block content %}
<section id="services">
    <section class="widget posts_wid">
        <div class="widget_heading">
            <i class="fa fa-graduation-cap"></i>
            <h3>Blog posts</h3>
        </div>
        <div class="widget_cont">

            {% if blog_admin.all_posts.def_data %}

            <div class="posts_stat">
                <p>{{ blog_admin.all_posts.def_data }}</p>
            </div>

            {% else %}
            {% for item in blog_admin.all_posts %}

            <div class="posts_stat">
                <div class="posts_stat_link">
                    <a href='/blog/post/{{item.post_link}}'>{{item.post_link}}</a>
                </div>
                <div class="posts_stat_stat">
                    <span>Date Created: {{item.post_dateCreate |date('jS \o\f F')}}</span>

                    {% if item.post_published == true %}

                    <span class="status_published">Status: Published</span>

                    {% else %}

                    <span class="status_unpublished">Status: Unpublished</span>

                    {% endif %}
                </div>
            </div>

            {% endfor %}
            {% endif %}

        </div>
    </section>
    <section class="widget posts_wid">
        <div class="widget_heading">
            <i class="fa fa-pencil-square-o"></i>
            <h3>Blog posts edit</h3>
        </div>
        <div class="widget_cont">

            {% if blog_admin.all_posts.def_data %}

            <div class="posts_stat">
                <p>{{ blog_admin.all_posts.def_data }}</p>
            </div>

            {% else %}
            {% for item in blog_admin.all_posts %}

            <div class="posts_stat">
                <div class="posts_stat_link">
                    <a href='/blog/post/{{item.post_link}}'>{{item.post_link}}</a>
                </div>
                <div class="posts_stat_stat">
                    <a class="post_edit_link" href="/blog/post_edit/{{item.post_link}}">Edit </a>
                </div>
            </div>

            {% endfor %}
            {% endif %}

        </div>
    </section>
    <section class="widget posts_wid">
        <div class="widget_heading">
            <i class="fa fa-pencil-square"></i>
            <h3>Blog info</h3>
        </div>
        <div class="widget_cont">
            <p>Posts: {{blog_admin.count_posts}}</p>
        </div>
    </section>

</section>
{% endblock %}