{% extends 'layout/services_layout.html' %}

{% block content %}

<section id="services">
    <section class="make_post">
        <form name="make_post" id="make_post_id">
            <div>
                <input type="text" name="title" placeholder="Title" required/>
            </div>
            <div>
                <input type="text" name="post_link" placeholder="Post link(Leave blank to auto generate)"/>
            </div>
            <div>
                <textarea placeholder="Post Body" name="post_body" rows="30" cols="50" required></textarea>
            </div>
            <div class="post_pref">
                <label for="checkbox_publish">Publish?</label>
                <input type="checkbox" name="publish" id="checkbox_publish" value="Publish"  />
                <button>Make post</button>
            </div>
        </form>
    </section>
</section>

{% endblock %}