{% extends 'layout/services_layout.html' %}

{% block content %}
<section id="services">

    {#
    THIS IS COMMENT
    <div class="item_toolti">{{ item|json_encode }}</div>

    {% if false %}
    statement1
    {% else %}
    statement2
    {% endif %}

    #}

    <section class="widget info">
        <div class="widget_heading">
            <i class="fa fa-info-circle"></i>

            <h3>Info and Messages</h3>
        </div>
        <div class="widget_cont">
            <p>Your last login was in : {{users_data.last_info |date('jS \o\f F') }}, from : Soon</p>
        </div>
    </section>

    <section class="widget settings">
        <div class="widget_heading">
            <i class="fa fa-cog"></i>

            <h3>Settings</h3>
        </div>
        <div class="widget_cont">
            <div>
                <p>Last change by: {{users_data.reg_settings.whoChanged}}</p>
            </div>
            <div class="turn_reg">
                {% if users_data.reg_settings.registration == true %}
                <button>Turn off registration</button>
                {% else %}
                <button>Turn on registration</button>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="widget users">
        <div class="widget_heading">
            <i class="fa fa-users"></i>

            <h3>Users</h3>
        </div>
        <div class="widget_cont">
            {% for item in users_data.showallUsers %}
            <!--<div>{{item.one | json_encode }}</div>-->
            <div class="user_info">
                <div class="user_infoUN">
                    <p>{{item.username}}</p>

                    <div class="user_infoTT">
                        <p>Email: {{item.email}}</p>

                        <p>Last login: {{item.lastLogin |date('jS \o\f F')}} </p>

                        <p>Date created: {{item.dateCreate |date('jS \o\f F')}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>


</section>
{% endblock %}